body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: right;
    padding: 15px 30px;
    background-color: #93c572;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #93c572;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}





